extends layout.pug
include utils.pug
block content
    h1(class='anotherClass' id='someOtherId') Welcome to Breaddit!
        p Hi this is breaddit we like to talk about bread
    table 
        thead
            tr
                th Username
                th Email 
                th Password
        tbody
            each user in users
                +userTableRow(user)



        //- div(id=`user-container-${user.id}`)
        //-     div Username: !{user.username}
        //- br