html
    head
        title= title
        link(rel="stylesheet", href="/css/index.css")
    body
        a(href="/") Home Page
        a(href="/posts") Posts Page
        a(href="/posts/new") Create New Post
        a(href="/users/signup") Sign Up! 
        a(href="/users/login") Log In! 
        a(href="/users/logout") Log Out :(
        block content